<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/produto.css">
</head>
<body>
    <div class="menu">
        <h2>Lista de Produtos</h2>
        <% for (let i = 0; i < tabela.rowCount; i++) { %>
            <form action="/add" method="post">
                <div class="produto">
                    <img src="../imagem/<%= tabela.rows[i].imagem %>" alt="<%= tabela.rows[i].descricao %>">
                    <div>
                        <a href="/ListarProdutos/<%= tabela.rows[i].codigo %>" target="principal">
                            <h2><%= tabela.rows[i].descricao %></h2>
                        </a>
                        <p id="AddPreco" name="AddPreco">Preço: R$ <%= parseFloat(tabela.rows[i].preco).toFixed(2) %></p>
                        <p>Quantidade: <%= tabela.rows[i].qtde %></p>
                        <input type="hidden" value="<%= tabela.rows[i].codigo %>" id="ADDcodigo" name="ADDcodigo">
                        <input type="number" min="1" id="ADDqtde" value="1" name="ADDqtde">
                        <input type="submit" value="ADD CARRINHO">
                    </div>
                </div>
            </form>
        <% } %>
    </div>
</body>
</html>
